Repository trimble-oss/modus-web-components, pull requests merged in 2022-10, with the labels that each got.

#767 Add spellcheck Config and GitHub Action
  .cspell.json
  .github/workflows/spellcheck.yml
  .github/workflows/super-linter.yml
  CHANGELOG.md
  README.md
  SUPPORT.md
  design/capability-design.md
Labels: 2, github_actions

#784 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: 1, priority:low

#793 Minor grammar and markdown formatting fixes.
  .cspell.json
  .github/workflows/spellcheck.yml
  .github/workflows/super-linter.yml
  CONTRIBUTING.md
  README.md
  stencil-workspace/storybook/stories/components/modus-data-table/modus-data-table-storybook-docs.mdx
  stencil-workspace/storybook/stories/introduction/getting-started.stories.mdx
Labels: 1

#815 Don't lint CSS and HTML with super-linter GitHub Action
  .github/workflows/super-linter.yml
Labels: 1, github_actions

#819 Disable Typescript as we run ESLint separately before the build
  .github/workflows/super-linter.yml
Labels: 1, github_actions
