Repository trimble-oss/modus-web-components, pull requests merged in 2023-04, with the labels that each got.

#1202 Replacing Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: github-actions

#1217 Update package to v0.1.37
  stencil-workspace/package-lock.json
  stencil-workspace/package.json
Labels: skip-changelog

#1201 Docs: Add tertiary spinner example (#1201
  stencil-workspace/storybook/stories/components/modus-spinner/modus-spinner-storybook-docs.mdx
Labels: docs

#1227 Update `.browserslistrc` config for Angular
  angular-workspace/projects/trimble-oss/modus-angular-components/.browserslistrc
Labels: 1, angular

#1226 Fix compilation errors for Angular components
  .github/ISSUE_TEMPLATE/bug_report.yml
  angular-workspace/projects/trimble-oss/modus-angular-components/src/lib/stencil-generated/components.ts
  stencil-workspace/src/components.d.ts
  stencil-workspace/src/components/modus-date-input/modus-date-input.tsx
  stencil-workspace/src/components/modus-date-input/readme.md
  stencil-workspace/src/components/modus-date-input/utils/modus-date-input.models.tsx
  stencil-workspace/src/components/modus-date-picker/modus-date-picker.tsx
  stencil-workspace/src/components/modus-date-picker/utils/modus-date-picker.calendar.tsx
  stencil-workspace/src/components/modus-date-picker/utils/modus-date-picker.state.tsx
  stencil-workspace/src/components/modus-date-picker/utils/modus-date-picker.types.tsx
  stencil-workspace/src/interfaces.d.ts
  stencil-workspace/storybook/stories/components/modus-date-picker/modus-date-picker-storybook-docs.mdx
Labels: angular

#1230 Fix for error related to the modus-angular-components version mismatch
  angular-workspace/projects/trimble-oss/modus-angular-components/package-lock.json
  angular-workspace/projects/trimble-oss/modus-angular-components/package.json
Labels: bug

#1237 Update package to v0.1.39
  stencil-workspace/package-lock.json
  stencil-workspace/package.json
Labels: skip-changelog

#1239 README and CHANGELOG updates
  CHANGELOG.md
  CONTRIBUTING.md
  angular-workspace/projects/trimble-oss/modus-angular-components/README.md
Labels: 1, priority:low, skip-changelog

#1245 Update package to v0.1.40
  stencil-workspace/package-lock.json
  stencil-workspace/package.json
Labels: skip-changelog

#1246 Release v0.1.40-ng14
  angular-workspace/projects/trimble-oss/modus-angular-components/package-lock.json
  angular-workspace/projects/trimble-oss/modus-angular-components/package.json
Labels: skip-changelog
