Repository trimble-oss/modus-web-components, pull requests merged in 2024-08, with the labels that each got.

#2778 Release v0.36.0
  stencil-workspace/package-lock.json
  stencil-workspace/package.json
Labels: skip-changelog

#2787 Update Super Linter
  .github/workflows/super-linter.yml
Labels: github_actions

#2791 Badge: Update small-size to have 2px border radius
  stencil-workspace/src/components/modus-badge/modus-badge.scss
Labels: bug, modus-badge

#2803 Adding new team members to the exception list.
  .github/workflows/issue-thanks.yml
  .github/workflows/labeler.yml
Labels: skip-changelog

#2804 Side-Navigation: Don't animate if user prefers reduced animation
  stencil-workspace/src/components/modus-side-navigation/modus-side-navigation.scss
Labels: accessibility

#2509 Content Tree: Event trigger on shift arrow keys
  stencil-workspace/src/components.d.ts
  stencil-workspace/src/components/modus-content-tree/modus-content-tree.types.tsx
  stencil-workspace/src/components/modus-content-tree/modus-tree-view-item/modus-tree-view-item.tsx
  stencil-workspace/src/components/modus-content-tree/modus-tree-view-item/readme.md
  stencil-workspace/src/components/modus-content-tree/modus-tree-view/modus-tree-view.tsx
  stencil-workspace/src/components/modus-content-tree/modus-tree-view/readme.md
  stencil-workspace/src/interfaces.d.ts
  stencil-workspace/storybook/stories/components/modus-content-tree/modus-content-tree-storybook-docs.mdx
  stencil-workspace/storybook/stories/components/modus-content-tree/modus-content-tree.stories.tsx
Labels: bug, modus-tree-view
