Repository trimble-oss/modus-web-components, pull requests merged in 2025-02, with the labels that each got.

#3162 Delete mend-scan.yml
  .github/workflows/mend-scan.yml
Labels: github_actions

#3161 Alert: Fix Icon Colors
  stencil-workspace/src/components/modus-alert/modus-alert.scss
  stencil-workspace/src/components/modus-alert/modus-alert.vars.scss
  stencil-workspace/src/global/themes.scss
Labels: bug, modus-alert

#3153 Side Navigation: initial selection persist issue fix
  stencil-workspace/src/components/modus-side-navigation/modus-side-navigation-item/modus-side-navigation-item.tsx
  stencil-workspace/src/components/modus-side-navigation/modus-side-navigation.e2e.ts
Labels: bug

#3165 Docs: Table documentation misspelling
  .cspell.json
  stencil-workspace/src/components/modus-table/parts/columnHeader/modus-table-column-header-label.tsx
  stencil-workspace/src/components/modus-table/parts/columnHeader/modus-table-column-resizing-handler.tsx
  stencil-workspace/storybook/stories/components/modus-table/modus-table-storybook-docs.mdx
Labels: docs

#3170 Remove unneeded CSS vendor prefixes
  stencil-workspace/src/components/modus-checkbox/modus-checkbox.scss
  stencil-workspace/src/components/modus-table/modus-table.scss
Labels: 1, bug

#3164 Table: Add HTML data in the table cell
  stencil-workspace/src/components/modus-table/models/modus-table.models.ts
  stencil-workspace/src/components/modus-table/modus-table.constants.ts
  stencil-workspace/src/components/modus-table/parts/cell/flex-renderer.e2e.ts
  stencil-workspace/src/components/modus-table/parts/cell/flex-renderer.tsx
  stencil-workspace/src/components/modus-table/parts/cell/modus-table-cell-main/modus-table-cell-main.tsx
  stencil-workspace/src/components/modus-table/parts/cell/modus-table-cell-main/readme.md
  stencil-workspace/src/components/modus-table/parts/cell/modus-table-custom-cell-element.tsx
  stencil-workspace/src/components/modus-table/parts/cell/readme.md
  stencil-workspace/src/components/modus-table/readme.md
  stencil-workspace/storybook/stories/components/modus-table/modus-table-storybook-docs.mdx
  stencil-workspace/storybook/stories/components/modus-table/modus-table.stories.tsx
Labels: modus-table

#3181 Release v1.4.0
  stencil-workspace/package-lock.json
  stencil-workspace/package.json
Labels: skip-changelog

#3183 Navbar: fix profile menu initials background color
  stencil-workspace/src/components/modus-navbar/profile-menu/modus-navbar-profile-menu.scss
Labels: bug, modus-navbar
